@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at HomeServices, we believe in a simple and hastle-free way to have work done around your property.  Thats why we partner with reputable companies to get you, the homeowner the best service possible. When our owner had his own issues with getting services done at his own home, the idea of HomeServices was created.  </p>
