@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    151 W Ohio st. <br />
    Indianpolis Indiana<br />
    <abbr title="Phone">P:</abbr>
    123.456.7891
</address>
