@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Services</h1>
    <p class="lead">Home Services helps home owners get services like plumbing, electrical, HVACR, landscaping and much more to their home with ease. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Simply make an account, then enter your property and appliance information, and you're all set to star making work orders!
        </p>
    </div>
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>We work with a multitude of service providers and when you make a work order, it gets sent to the correct comapany's work order system</p>
    </div>
    <div class="col-md-4">
        <h2>Service Providers</h2>
        <p>We work with reputable companies to give you the best work possible </p>
    </div>
</div>